<div id="<%= dom_id member_role %>">
  <p>
    <strong>Id:</strong>
    <%= member_role.member_role_id %>
  </p>

  <p>
    <strong>Member:</strong>
    <%= member_role.member_id %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= member_role.role_id %>
  </p>

</div>
