<h1>Editing member role</h1>

<%= render "form", member_role: @member_role %>

<br>

<div>
  <%= link_to "Show this member role", @member_role %> |
  <%= link_to "Back to member roles", member_roles_path %>
</div>
