<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Welcome to ASGSA <%= @member.first_name %>!</p>
    <p>
      We are excited to have you as a member of the Animal Science Graduate Student Association at Texas A&M University.
    </p>
  </body>
</html>