<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>New Support Ticket was created!</h2>
    <p>
        Name: <%= @name %>
        <br>
        Email: <%= @email %>
        <br>
        Issue: <%= @issue %>
    </p>
  </body>
</html>