<h1>
  Members checked in for event: <%= @event.name %>
</h1>

<%= link_to("Check Members In", check_in_event_attendees_path) %>

<div id="attendees">
  <% @attendees.each do |attendee| %>
    <% member = Member.find(attendee.member_id) %>
    <p>
      <%= member.first_name + " " + member.last_name + " " %>
    </p>
  <% end %>
</div>

<%= link_to("Back to events", events_path)%>