<div class="d-flex align-items-center vh-100" style="background-image: url(<%= asset_path 'tamu_stock3.jpg' %>); background-size: cover; padding: 5%">
  <div class="card mx-auto" style="width: 40rem;">
    <div class="card-header">
      <%= link_to "Back to event", event_attendees_path(@event) %>
      <h1>RSVP</h1>
    </div>
    <div class="card-body">
      <%= render "form", attendee: @attendee %>
    </div>
  </div>
</div>
