<h1>Editing member notification</h1>

<%= render "form", member_notification: @member_notification %>

<br>

<div>
  <%= link_to "Show this member notification", @member_notification %> |
  <%= link_to "Back to member notifications", member_notifications_path %>
</div>
