<div class="faq">
    <div class="card">
        <div class="card-header">
            <h1>Frequently Asked Questions for Officers</h1>
        </div>
        <div class="card-body">
            <h3 style="font-style: bold; margin-bottom: 1rem; color: #500000">Q1: How can I assign a member points for attending an event?</h3>
            <p style="margin-bottom: 2rem;">
                A1: To award points to a member for attending an event, you can simply check in the member to the event by navigating to the event page, selecting the event, 
                and clicking the "Check In" button for the particular member. This will automatically award the member the points for the event.
            </p>
            <h3 style="font-style: bold; margin-bottom: 1rem; color: #500000">Q2: How can I send an email out for a particular event?</h3>
            <p style="margin-bottom: 2rem;">
                A2: To send an email out for a particular event, make sure to select the "send email to all members" checkbox when creating an event.
                This will automatically send an email to all members in the organization regarding the event.
            </p>
            <h3 style="font-style: bold; margin-bottom: 1rem; color: #500000">Q3: How can I edit information about my profile?</h3>
            <p style="margin-bottom: 2rem;">
                A3: You can edit information regarding your profile by simply navigating to your profile icon, clicking the dropdown menu, and selecting "View Profile".
                From here, you can edit your profile information by clicking the "Edit" button.
            </p>
            <h3 style="font-style: bold; margin-bottom: 1rem; color: #500000">Q4: How can I view my notifications?</h3>
            <p style="margin-bottom: 2rem;">
                A4: You can view your notifications by clicking the notification bell next your profile icon.
            </p>
            <h3 style="font-style: bold; margin-bottom: 1rem; color: #500000">Q5: How can I view upcoming events?</h3>
            <p style="margin-bottom: 2rem;">
                A5: You can view upcoming events by navigating to the "Events" tab in the navigation bar, or you can view a snapshot of a few upcoming events by navigating to the home page.
            </p>
            <h3 style="font-style: bold; margin-bottom: 1rem; color: #500000">Q6: How can I get help regarding any issue I have?</h3>
            <p style="margin-bottom: 2rem;">
                A6: If you encounter any issues, you can contact us by clicking the "Contact Us" button at the bottom of the page and filling out the form. 
                A representative will get back to you as soon as possible.
            </p>
            <h3 style="font-style: bold; margin-bottom: 1rem; color: #500000">Q7: How can I view how many points I have and what they correspond to?</h3>
            <p style="margin-bottom: 2rem;">
                A7: You can view information regarding your points by simply navigating to your profile icon, clicking the dropdown menu, and selecting "View Profile". 
                Here, you can view your points and event history.
            </p>
            <h3 style="font-style: bold; margin-bottom: 1rem; color: #500000">Q8: How can I RSVP for an event?</h3>
            <p style="margin-bottom: 2rem;">
                A8: You can RSVP for a particular event by simply navigating to the events tab, selecting the event you are interested in, and clicking the "RSVP" button.
                Alternatively, you can RSVP for an event by clicking the link in an event email, if you received one.
            </p>
        </div>
    </div>
</div>