<div class="faq">
    <div class="card">
        <div class="card-header">
            <h1>Frequently Asked Questions for Members</h1>
        </div>
        <div class="card-body">
            <h2 style="font-style: bold;">Q1: How do I contact the site administrator?</h2>
            <p>A1: You can contact the site administrator by sending an email</p>
        </div>
    </div>
</div>