/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=PT+Sans+Narrow&display=swap');

$font-family-base: 'Oswald', sans-serif;

@import "bootstrap";
@import "font-awesome";

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.navbar-custom {
    background-color: #500000;
}

.navbar-brand {
    max-height: 10vh;
    width: auto;
}

.nav-link {
    color: white;
}

.profile-icon {
    max-height: 5vh;
    width: auto;
    border-radius: 50%;
}

.nav-item-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    text-align: center;
    width: 100%;
}

.intro {
    margin-top: 2em;
    margin-bottom: 2em;
}

.mission-statement, .upcoming-events {
    margin-top: 2em;
    margin-bottom: 2em;
}

.event:not(:last-child) {
    margin-bottom: 1em;
}

.header {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
    font-weight: bold;
    margin-top: 60px;
}

.upcoming-events {
    width: 75%;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
    font-weight: bold;
    margin-top: 20px;
    border: 1px solid #ccc; /* Adjust color as needed */
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
}

.footer {
    background-color: #500000;
    color: white;
    padding: 5%;
    height: auto;
    margin-top: auto;
    font-weight: 300;
}

.social-icons {
    max-height: 10vh;
    width: auto;
    margin: 1em 0;
    font-size: 1.5rem;
}

.social-icons i {
    margin: 0.5rem 0;
}

.requirements {
    max-height: 10vh;
    width: auto;
    margin: 1em 0;
    font-size: 1.5rem;
    margin-bottom: 20%;
}

.requirements i {
    margin: 0.5rem 0;
}

.dropdown-toggle-check {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}
  
.dropdown-toggle-check:checked ~ .dropdown-menu {
    display: block;
}

.dropdown-menu {
    display: none;
}
