/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "font-awesome";

$font-family-base: 'Oswald';

.navbar-custom {
    background-color: #500000;
}

.navbar-brand {
    max-height: 100px;
    width: auto;
}

.nav-link {
    color: white;
}

.profile-icon {
    max-height: 50px;
    width: auto;
    border-radius: 50%;
}

.nav-item-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    text-align: center;
    width: 100%;
    background-image: url('tamu_stock.jpg');
    background-size: cover;
    background-position: center;
}

.intro {
    margin-top: 2em;
    margin-bottom: 2em;
}

.mission-statement, .upcoming-events {
    margin-top: 2em;
    margin-bottom: 2em;
}

.event:not(:last-child) {
    margin-bottom: 1em;
}

// Styling for member profiles

.show-member {
    display: flex;
}

.profile-section {
    display: flex;
    flex: 1; /* Take up remaining space */
}

.profile-details {
    width: 70%; /* Adjust as needed */
    // padding-left: 20px; /* Adjust spacing between details and event history */
}

.event-history {
    width: 30%; /* Adjust as needed */
    // padding-left: 20px; /* Adjust spacing between details and event history */
}

.avatar {
    width: 100px; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
    border-radius: 50%; /* This will make the image circular */
}

label.header {
    display: block;
    text-transform: capitalize;
    font-weight: bold;
}

.required::after {
    content: '*';
    color: red;
}

.member-form-field {
    margin-bottom: 5px;
}

.centered-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 25%;
}

.member-form-field {
    margin-bottom: 20px;
    width: 25%; 
}

.member-form-field input[type="text"],
.member-form-field input[type="email"],
.member-form-field input[type="date"],
.member-form-field input[type="number"] {
  width: 100%; /* Adjust the width as needed */
  padding: 4px; /* Adjust padding as needed */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  margin-right: auto;
}

.member-form-field textarea {
    height: 100px; /* Adjust the height as needed */
    width: 100%; /* Adjust the width as needed */
    padding: 4px; /* Adjust padding as needed */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

