<h1>Edit Profile</h1>
<p style="color: red;">*Some fields may be blocked due to insufficient privileges<p>

<%= render "form", member: @member %>

<br>
<div>
  <%= link_to "Show this member", @member %> |
  <%= link_to "Back to members", members_path %>
</div>
